.app {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.app-header {
  font-size: 35px;
  font-weight: bold;
  color: #61dafb;
  margin-bottom: 20px;
}

.app-repository {
  margin-bottom: 20px;
}

.app-stargazers {
  font-size: 12px;
}

.app-stargazers {
  display: flex;
  justify-content: start;
  flex-wrap: wrap; 
}

.app-stargazer {
  border: 1px;
  border-style: solid;
  border-color: lightgreen;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.app-avatar {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}